@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-green: #0B8B63;
  --soft-green: #4CAB8E;
  --yellow: #FFDD1F;
  --gold: #FFE388;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --color-soft-black: #171717;
  --color-green: #69BD45;
  --color-dark-green: #0B8B63;
  --color-soft-green: #4CAB8E;
  --color-yellow: #FFDD1F;
  --color-gold: #FFE388;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
    --dark-green: #0B8B63;
    --soft-green: #4CAB8E;
    --yellow: #FFDD1F;
    --gold: #FFE388;
  }
}

body {
  background-image: url("/bg-hero.png");
  background-repeat: repeat-y;
  background-size: contain;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

strong {
  font-weight: bold;
}

a {
  transition: all ease-in-out .3s;
}

.quem-somos {
  p {
    padding-bottom: 1rem;
  }
}

.swiper {
  padding: 3rem 0 !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 1rem !important;

  svg {
    color: white;
    fill: white;
  }
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}