@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-green: #0B8B63;
  --soft-green: #4CAB8E;
  --yellow: #FFDD1F;
  --gold: #FFE388;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F1218;
    --foreground: #ffffff;
    --dark-green: #0B8B63;
    --soft-green: #4CAB8E;
    --yellow: #FFDD1F;
    --gold: #FFE388;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

p {
  padding-bottom: 1rem;
}

strong {
  font-weight: bold;
}

a {
  transition: all ease-in-out .3s;
}

.swiper {
  padding: 3rem 0 !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 1rem !important;

  svg {
    color: white;
    fill: white;
  }
}

.swiper-pagination-bullet {
  background-color: white !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}